body {
	background-color: white;
	font-family: 'Roboto', sans-serif;
}

nav.navbar-inverse {
	background-color: navy;
}

h1 {
	margin-bottom: 30px;
}

nav.navbar-inverse a.navbar-brand {
	font-size: 2.5em;
	font-weight: bolder;
	color: white;
	-webkit-transition: all 2s ease;
	transition: all 2s ease;
}

nav.navbar-inverse a.navbar-brand span.highlight {
	background-color: white;
	color: navy;
	-webkit-transition: all 2s ease;
	-webkit-animation-name: example; /* Chrome, Safari, Opera */
	-webkit-animation-iteration-count: infinite; /* Chrome, Safari, Opera */
	-webkit-animation-duration: 4s; /* Chrome, Safari, Opera */
	-webkit-animation-direction: alternate; /* Chrome, Safari, Opera */
	animation-duration: 4s;
	animation-name: example;
	animation-iteration-count: infinite;
	animation-direction: alternate;
	transition: all 2s ease;
}

.navbar-inverse ul.navbar-nav>li>a {
	color: white;
	font-weight: bold;
}

/* Chrome, Safari, Opera */
@-webkit-keyframes example {
    0%   {background-color:white; color:navy;}
    100% {background-color:white; color:#CCCCFF;}
}

/* Standard syntax */
@keyframes example {
    0%   {background-color:white; color:navy;}
    100% {background-color:white; color:#CCCCFF;}
}
/*
nav.navbar-inverse a.navbar-brand:hover {
	color: orange;
	margin-left: 50px;
}

nav.navbar-inverse a.navbar-brand:hover span.highlight {
	background-color: orange;
}
*/

div.box {
	border: 1px solid black;
	border-radius: 20px;
	padding-left: 20px;
	padding-right: 20px;
	background-color: #EEE;
	border: 1px solid #DDD;
	margin-top: 10px;
	margin-bottom: 10px;
	-webkit-transition: all 2s ease;
	transition: all 2s ease;
}

div.box:hover {
	background-color: #CCCCFF;
}

h1 {
	font-weight: bolder;
}


/* ANIMATED HAMBURGER ICON https://codepen.io/impondesk/pen/EaKoXY */

.navbar-toggle .icon-bar:nth-of-type(2) {
	  top: 2px;
}

.navbar-toggle .icon-bar:nth-of-type(3) {
  	top: 3px;
}

.navbar-toggle .icon-bar {
	  position: relative;
	  transition: all 500ms ease-in-out;
}

.navbar-toggle.active .icon-bar:nth-of-type(1) {
	  top: 6px;
	  transform: rotate(45deg);
}

.navbar-toggle.active .icon-bar:nth-of-type(2) {
	  background-color: transparent;
}

.navbar-toggle.active .icon-bar:nth-of-type(3) {
	  top: -6px;
	  transform: rotate(-45deg);
}

/* MEDIA QUERIES */

@media (min-width: 768px) {
	div#navbar-collapse-menu {
		display: none !important;
	}
} 

@media only screen and (max-width : 979px) {
.dropdown-menu li:hover .dropdown-menu {
	position:static;
}